#background {
    /* background-image: url("/images/backgrounds/0.png"); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.title {
    text-align: center;
    color: #389afc;
    background-color: #FCB338;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 75px;
    /* height: 10%; */
}

.content-links {
    margin-top: 7.5%;
}

.url {
    text-align: center;
    font-size: 50px;
    background-color: white;
    height: 75px;
    margin: 1% auto;
    /* border: 5px solid #389afc; */
    width: 350px;
    border-radius: 10px;
    position: relative;
}

.url:hover  #hover {
    opacity: 1;
}

.download {
    width: 650px;
}

.download>.a>.link-text {
    font-size: 50px;
}

.url>.a {
    position: relative;
    top: -95%;
    display: inline-block;
    /* z-index: 10; */
}

.url>.a>.link-text {
    text-decoration: none;
    color: #FCB338;
    margin: 0;
}

#hover {
    border-radius: 10px;
    background-color: #000000;
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    opacity: 0;
}